
@font-face {
    
    font-family: Science Fair Light;
    src: url("fonts/Science Fair Light.otf")
}

@font-face {
    
    font-family: comfortaa;
    src: url("fonts/comfortaa.ttf")
}

header {
    
    margin: 0 auto;
    text-align: center;
    font-family: Science Fair Light, Futura, sans-serif
    
}

body, nav, p, img{
    
    font-family: comfortaa, Bodoni, serif
}

#imgtop img {
    
    display: block;
    width: 100%;
    margin-bottom: 20px
}


p {
    
    line-height: 1.6
}

nav ul {
    
    list-style-type: none;
    padding: 0;
    text-align: center;
}

li {
    
    padding: 4px
}

ul li a{
    
    text-decoration: none;
    margin: 20px 0px 10px 0px;
}

.containerContent p {
    
    margin: 10px
}

button {
    
    color: #ffffff;
    background-color: #097C00;
    cursor: pointer;
}

button:hover {
    
    background-color: #00FF20;
    color: #000000;
    
}

button:active {
    
    background-color: #00E8FF;
}

a:link {
    
    color: #000000;
    text-decoration: none;
}

a:visited {
    
    color: #000000
}

a:hover {
    
    color: #002BDA;
    opacity: 0.9
}

p a:link {
    
    color: #002BDA
}

p a:visited {
    
    color: #002BDA
}

li a:hover {
    
    color: #002BDA;
}

a:active {
    
    color: #002BDA
}

.home, a.home, .explore, a.explore, .exhibition, a.exhibition, .about, a.about, .info, a.info {
    
    color: #002BDA
}

.grey, .greyVisit {
    
    border-top: 1px solid #43B2FF;
    background-color: #43B2FF; /* for browsers that do not support gradients e.g IE9 and earlier */
    background-image: linear-gradient(to right, #4BE6FF, lightblue );
    font-weight: 600
}

.lightgrey, .lightgreyVisit {
    
    border-top: 1px solid #00EF1E;
    background-color: rgb(128, 255, 144); /* for browsers that do not support gradients e.g IE9 and earlier */
    background-image: linear-gradient(to right, #3dff55, lightgreen );
    font-weight: 600
}

#infoInvolved {
    
    border-top: 1px solid lightgrey;
    background-color: lightgrey;
    font-weight: 600
}

#events {
    
    border: 10px solid #EBF7FF;
    background-color: #EBF7FF;
    
}

.exhib img, #explore img {
    
    border-radius: 5%
}

#infoInvolved {
    
    background-color: #EBF7FF
}

/*------------------Screen S---------------------------
-------------------------------------------------------*/

@media only screen and (max-width: 490px){
    
nav ul li{
    
    display: inline-block;
    margin: 5px 30px 0 0;
    
}
  
ul {
        
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}
       
.logo img {
    
    width: 25%;
    display: block;
    margin: 0 auto
 
}

button {
   
    text-align: center;
    width: 100px;
    height: 30px;
    max-width: 100%;
    margin: 0 auto;
    border: 1px solid black;
    border-radius: 3px;
    
}
    
#dropDown button{
    
    width: 30%;
    background-color: #097C00;
    color: white;
    display: block;
        
}

h2 {
    
    text-align: center;
    margin: 30px 0 10px 0;

}
    
nav .containerNav {

    display: none
        
}
    
#imgtop img {
        
     display: none;
}
    
.dropDownContent {
        
    display: none;
    margin: 1px auto;
    width: 35%;
    background-color: #0b9d00;
    border: 1px solid black;
    border-radius: 5px;
    z-index: 1
}
    
.dropDownContent a {
    
    color: white;
    font-size: 14px;
}
    
.dropDownContent li {
        
    border-bottom: 1px solid black;
    width: 94%;
    margin: 0px;
}
    
.dropdown_visible {

    display: block
}
    
.dropdown_visible a {

    width: 100%;
    display: block;
    text-align: left; 
    margin: 5px;
    
}
    



    
.containerContent img {
    
    width: 100%
}

article h3, aside p:first-of-type, aside h3, article {
    
    text-align: center;
}
    
p {
        
    text-align: center;
    font-size: 14px;
}
    
img {
    
    width: 100%
}
    
.caption {
        
    width: 90%;
    margin-left: 10px
}

.grey {
    
    margin-top: 20px;
}

.lightgrey {
    
    margin-top: 20px;
}
    
footer {
    
    background-color: lightgray;
    margin-top: 50px;
    text-align: center
}

#contact {
    
    margin-left: 10px;
    margin-bottom: 30px
       
}

#adress {
    
    padding-top: 1px;
    margin-bottom: 30px
}

#copy {
    
    margin-left: 10px;
    padding-bottom: 1px
}

#explore {
    
    text-align: left
}

.exhib p {
    
    text-align: center;
    margin: 10px;
    padding-bottom: 20px
    
}

.greyVisit {
    
    margin-top: 20px;
    padding: 10px;
    text-align: center;
}

.lightgreyVisit, #infoInvolved {

    margin-top: 20px;
    padding: 10px;
    text-align: center;
        
}

}

/*-----------------Screen M-------------------------------------------
----------------------------------------------------------------------*/

@media only screen and (min-width: 491px) and (max-width: 779px){

nav ul li{
    
    display: inline-block;
    flex: auto;
    font-size: 20px

}

ul {
        
    list-style-type: none;
    padding: 0;
    text-align: center;
    
}    
    
.containerNav {
        
    display: flex;
    flex-wrap: nowrap;
    margin-top: 60px;
    margin-bottom: 0px;
    
}
    
.logo img {
    
    width: 10%;
    display: block;
    margin: 0 auto
 
}
    
#imgtop img {
        
     display: none;
}

button {
    
    width: 225px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 18px;  
}
    
#dropDown button, #dropDown ul{
    
   display: none;
        
}

h2 {
    
    text-align: center;
    margin: 50px 0 10px 0;
    font-size: 32px
}
    
.containerContent img {
    
    width: 100%
}

article h3, aside p:first-of-type, aside h3, article:first-of-type {
    
    text-align: center;
    margin-top: 25px;
}

.grey, .lightgrey {
    
    margin-top: 20px;
}

footer {
    
    background-color: lightgray;
    width: 100%;
    display: flex;
    text-align: center
}

#contact {
    
    width: 100%;
    flex: 40%
       
}

#adress {
    
    margin-bottom: 30px;
    flex: 40%;
}

#copy {

    flex: 20%;
}

#explore {
    
    text-align: left;
}
    
.content img {
        
    width: 100%
}

.exhib p {
    
    text-align: center;
    margin: 10px;
    padding-bottom: 20px;  
}

.exhib img {
    
    width: 100%;
}
    
.exhib h2 {
        
    font-size: 32px
}

    
#tele img, #teacherimg img {
        
    width: 50%;  
}
    
#teacherimg img {
        
    margin-left: 25%;
    margin-top: 10%
}

.greyVisit, .lightgreyVisit, #infoInvolved {
    
    margin: 10px 10px;
    padding-bottom: 10px;
}
    
.greyVisit p, .lightgreyVisit p, #infoInvolved p {
        
    margin: 10px
        
}

}

/*---------------------Screen L----------------------
-----------------------------------------------------*/

@media only screen and (min-width: 780px) {
   
nav ul li{
    
    display: inline-block;
    font-size: 1.5em;
    padding: 0 3%;  
}
    
.containerNav {
    
    margin-top: 60px;    
}

.logo img {
    
    width: 8%;
    display: block;
    margin: 0 auto
 
}

#imgtop p {
        
    font-size: 24px;
    font-weight: 600;
    margin-top: 40px
}

button {
    
    width: 225px;
    height: 50px;
    border: 1px solid black;
    border-radius: 3px;
    font-size: 24px;
}
    
#dropDown button, #dropDown ul{
    
   display: none;
        
}
    
h2 {
    
    text-align: center;
    margin: 50px 0 20px 0;
    text-decoration: underline;
    text-decoration-color: gray;
    text-transform: uppercase;
    font-size: 32px
    
    }

article h3, aside p:first-of-type, aside h3 {
    
    text-align: center;
    margin-top: 25px;
}

article:first-of-type, #events {
    
    text-align: center
}
    
.containerContent img  {
    
    width: 340px
}

.grey, .lightgrey {
    
    margin: 10px;   
}

section.grey, section.lightgrey {
    
    vertical-align: top;
    display: inline-block;
    text-align: center;
}

.caption {
    
    width: 340px
}

footer, #visitTop, #special {
    
    background-color: lightgray;
    width: 100%;
    display: flex;
    text-align: center
}
    
#special {
       
    background-color: #EBF7FF
        
}
    
aside, footer{
        
    border-bottom: 1px solid grey;
}
    
.containerContent, aside {
        
    border-top: 1px solid gray
}
    
#visitTop {
        
    background-color: white;!important
}
    
#hours ul {
        
    text-align: center;
    padding: 0;
    list-style-type: none;
}

#access, #admission, #hours, .specialEvents {
        
    flex: 40%;
    margin: 20px;
}

#adress, #copy, #contact {

    flex: 33%;
    margin: 20px
}

aside, .containerContent, #involved {
        
    margin-top: 50px;
  
}
    
#involved p, button {
        
    text-align: center;
    margin: 0 auto;
    margin-bottom: 60px
}
    
.exhib img {
    
    width: 100%;
}

#tele img, #teacherimg img {
        
    width: 15em;    
}
    
#tele img {
        
    float: right;
    display: block;
    margin-bottom: 30px;
}

#tele p, #teacherimg p {
        
    margin: 50px 50px;
    text-align: left;
}
    
#teacherimg img {
        
    float: left
        
}
        
.greyVisit {

    margin: 10px auto;
    padding: 10px;
    width: 50%;
}

.lightgreyVisit, #infoInvolved {
    
    margin: 10px auto;
    padding: 10px;
    width: 50%;
    
}
    
.content img {
        
    width: 35%;
    margin: 25px;
    float: left;
    clear: both;
}
    
.content h3 {
    
    margin-left: 35%;
    margin-top: 10%;
    font-size: 1.5em;
    text-transform: capitalize
       
}
    
.content {
        
    margin: 5%
        
}
    
.content p {
        
    margin-top: 6%;
    text-align: left;
               
}
    
.content:last-of-type {
        
    margin-top: 13% 
}
   

#explore button {
        
    margin-right: 30%

}
    
}
