/*******************************
         RESET And Global
*******************************/

* {
    
    margin: 0;
    padding: 0;
}



body {
    
    font-family: myriad pro, verdana, sans-serif
}

footer {
    
    font-family: minion-3, adobe garamond pro, serif
}

h1, h2, h3. h4 {
    
    font-family: minion-3, adobe garamond pro, serif
}

h1 a {
    
    text-decoration: none;
    color: #FFFFFF
}

button {
    
    cursor: pointer;
}

button:hover {
    
    border: 1px solid #FFFFFF
}

a {
    
    text-decoration: none
}

a:hover {
    
    cursor: pointer;
}
/*******************************
           Head & Nav
*******************************/

header {
    
    width: 100%;
    height: 98px;
    background-color: #087800;
    
}

h1 {
    
    float: left;
    margin: 20px;
    margin-top: 25px;
    font-size: 44px;
    color: #FFFFFF;
}

.menuitem {
    
    margin: 0 40px;
    font-family: myriad pro, verdana, sans-serif
    
}

.menuitem a:hover {
    
    text-decoration: underline;
    text-decoration-color: burlywood;

}


nav ul li {
    
    display: inline-block;
    list-style: none;
    font-size: 24px;
    
}

nav ul li a {
    
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    margin: 40px 10px 25px 10px;
}


#highlight a {
    
   text-decoration: underline;
    text-decoration-color: burlywood;
}


header img {
    
    float: right;
    width: 50px;
    padding-right: 50px;
    padding-top: 25px;
}

#searchbar {
    
    width: 250px;
    margin-top: 12px;
        
}

#breadcrumb {
    
    display: flex;
    margin-left: 100px
}

#breadcrumb a {
    
    margin: 13px;
    text-decoration: none;
    color: black
    
}

#back_btn {
    
    position: absolute;
    left: 10px;
    width: 3%;
    top: 100px
}


/*******************************
        HomePage Image
*******************************/

#homepg_img {
    
    width: 100%;
    height: 900px
}

#img_text {
    
    position: absolute;
    top: 20%;
    width: 35%;
    font-size: 24px;
    margin-left: 20px;
    color: #FFFFFF;
    background-color:rgba(0, 0, 0, 0.6);
    border-radius: 5px;
}

#img_text h3, #img_text p {
    
    margin: 10px;
}


/*******************************
            CTA
*******************************/

.cta {
    
    margin-top: -6px;
    width: 100%;
    height: 50px;
    background-color: #087800;
    
}

.cta button {
    
    position: relative;
    bottom: 200px;
    transform: translateX(50px);
    width: 400px;
    height: 70px;
    border-radius: 20px;
    font-size: 24px;
    opacity: 0.9.5;
    background-color: burlywood
}

.cta button a {
    
    text-decoration: none;
    color: black;
}

/*******************************
      Rating from people
*******************************/

.rating{
    
    display: inline-block;
    text-align: center;
    padding: 50px;
 
}

#star_rating {

    margin-left: 600px
    
}

/*******************************
        Shoes Page
*******************************/

article .shoe_info{
    
    display: inline-block;
    margin-left: 320px
    
}

.shoe_info h2 {
    
    position: relative;
    display: block;
    margin: 0 auto;
    text-align: center;
    bottom: 50px;
    font-size: 32px
}

/*******************************
        About Page
*******************************/
#about a {
    
    text-decoration: underline;
    text-decoration-color: burlywood;
}

#about_img {
    
    width: 19%;
    float: right; 
    padding-right: 50px
}

#about_head {
    
    margin-top: 80px;
    margin-left: 30px;
    
}

#about_p {
    
    margin: 30px
}

.board{
    
    display: inline-block;
    text-align: center;
    margin-left: 15px;
    margin-top: 70px;
 
}

.board img{
    
    width: 80%
}

/*******************************
        Info Page
*******************************/

#info a{
    
    text-decoration: underline;
    text-decoration-color: burlywood;
}


#info_section {
    
    vertical-align: top;
    margin-top: 50px;
    text-align: center;
    margin-left: 150px
}

.contact {
    
    margin: 10px;
    margin-left: 183px;
    border: 1px solid black;
}

.contact h2, .contact p {
    
    margin: 20px;
    padding: 0 20px
        
}

#comment {
    
    position: absolute;
    margin: 65px 65px 65px 250px   
}

input:focus, textarea:focus {
    
    outline: 2px solid #087800;
    
}

#comment h2 {
    
    text-align: center
}

#comment textarea, #comment input {
    
    display: block;
    margin: 20px;

}

#comment input:last-of-type {
    
    margin-left: 80px
}

#submit {
    
    width: 150px;
    height: 40px;
    border-radius: 20px;
    background-color: #087800;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF
        
}

#info_section, #comment, #contactCard {
    
    display: inline-block
}

#contactCard {
    
    width: 450px;
    margin-left: 700px;
    margin-bottom: 116px;
}

/*******************************
  Dress Page | Outgoing Page
*******************************/

#shoeHead {
    
    text-align: center;
    margin-right: 20px;
    font-size: 42px
    
}

#filter {
    
    width: 180px;
    height: 50px;
    margin: 150px;
    margin-top: 50px;
    margin-left: 330px;
    margin-bottom: 20px; 
    border-radius: 10px;
    font-size: 24px
}

#emptySpace {
    
    width: 100%;
    height: 50px;
    background-color: #087800;
}

#sort {
    
    float: right;
    margin-right: 50px;
    margin-top: 20px;
    width: 180px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
    border-radius: 10px;
    font-size: 16px;
}

.shoe_info{
    
    border: 1px solid;
    width: 20%;
    margin: 100px auto;
    border-radius: 50px;
    display: block;
    
}

.shoe_info a {
    
    text-decoration: none;
    color: black
}

.shoe_info:hover {
    
    width: 20.05%
}

.shoe_info img {
    
    width: 100%;
    border-radius: 50px 50px 0 0;
    height: auto;
}

.shoe_info h3, .shoe_info p {
    
    margin-top: 25px;
    display: block;
    text-align: center
}

.shoe_info p:first-of-type{
    
    font-size: 28px;
    margin-bottom: 10px;
    text-decoration: line-through
}

.shoe_info p {
    
    text-decoration: none;
    font-size: 28px;
   
}

.shoe_info p:last-of-type {
    
    text-decoration: none;
    font-size: 34px;
    border: 3px solid blue;
    border-radius: 10px;
    width: 150px;
    display: inline-block;
    margin: 10px;
    padding: 3px;
    margin-left: 115px;
   
}

/*******************************
Dress shoe pg | Outgoing shoe pg
*******************************/

#dressShoeInfo img {

    float: left;
    width: 30%;
    margin-left: 310px;
    border-radius: 10px;
 
}

#dressShoeInfo p, #dressShoeInfo h3, #dressShoeInfo ul {
 
    margin-top: 50px;
    margin-left: 950px
     
}

#dressShoeInfo p {
    
    font-size: 32px
}

#dressShoeInfo h3, #dressShoeInfo p:first-of-type {
    
    font-size: 24px
}

#dressShoeInfo p:first-of-type {
    
    text-decoration: line-through
}

#dressShoeInfo ul li {
    
    font-size: 18px;
    margin: 10px
}

#dressShoeInfo {
    
    margin-top: 150px;

}

#sizeForm {

    margin-top: 70px;
    margin-left: 950px;
    font-size: 18px;
    
}

#sizeForm h4, #sizeForm input {
    
    margin: 5px
}

#dressShoeInfo p:last-of-type {
    
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    background-color: lightblue;
    width: 0 auto;
    padding: 20px;
    margin: 25px 485px 50px 310px; 
          
}

#addToBasket {
    
    width: 170px;
    height: 50px;
    border-radius: 10px;
    background-color: #087800;
    color: #FFFFFF;
    font-size: 18px;
    cursor: pointer
    
}

#sizeForm input:last-of-type {
    
    margin-left: 100px
}

/*******************************
          Basket page
*******************************/

#cart_basket {
    
    margin: 50px;
    padding-left: 160px;
    display: inline-block;
}


#basket button, #basket h2  {
    
    margin-left: 100px;
    display: inline-block;

}

#basket button {
    
    width: 200px;
    height: 30px;
    border-radius: 10px;
    background-color: #087800;
    color: #FFFFFF;
   
}

#basket p, #delivery, #total{
    
    margin: 50px;
    margin-left: 100px;
}

#basket p {
    
    font-size: 24px
}

#delivery p {
    
    float: right;
    position: relative;
    bottom: 40px
}

.deliveryOpt {
    
    display: block;
    width: 350px;
    height: 20px;
    border-bottom: 1px solid;
    margin: 20px 0
}

#total, #delivery {
  
    display: inline-block
    
}

#total {
    
    margin-left: 160px;
    float: right;
}

#total h2, #total p, #total input {
    
    margin: 5px 20px 20px 20px;
    text-align: center
}

#totalSum {
    
    border: 1px solid;
    border-radius: 5px;
}

#total input {
    
    width: 200px;
    height: 50px;
    font-size: 18px;
    margin-top: 20px;
    background-color: lightgray;
    color: #FFFFFF;
    border-radius: 15px;
    margin-bottom: 127px;
        
}

/*******************************
          Checkout
*******************************/

#checkout_form {
 
    margin: 50px 0 50px 80px
    
}

.checkout {
    
    margin-left: 250px;
    display: inline-block;
    vertical-align: top;
    width: 17%
}

.checkout label, .checkout input {
    
    display: block;
    margin: 10px 0;
    
}

.checkout label {
    
    margin-top: 20px; 
}

.checkout form input{
    
    margin: 10px 0;
}

.checkout h2 {
    
    margin-bottom: 30px
}


#login_btn {
    
    margin: 30px 0px;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #087800;
    color: #FFFFFF;
    cursor: pointer;
}

#create_btn {
    
    margin: 30px 0;
    width: 160px;
    height: 50px;
    border-radius: 20px;
    background-color: #087800;
    color: #FFFFFF;
    cursor: pointer
}

#reset_btn {
    
    margin: 30px 0;
    width: 100px;
    height: 30px;
    border-radius: 20px;
    background-color: red;
    color: #FFFFFF;

}

.checkout_pay {
    
    display: inline-block;
    vertical-align: top;
    margin-left: 250px;
    margin-top: 50px;
    border: 1px solid;
    border-radius: 5px;
    padding-right: 10px;
}

.checkout_pay h4 {
    
    display:  block;
    margin: 10px 10px;
    text-align: center
    
}

.checkout_pay input {
    
    display: inline-block;
    margin: 15px;
    margin-left: 20px;

}

#purchase_btn {
    
    font-size: 18px;
    margin-left: auto;
    margin-right: 50px;
    display: block;
    width: 180px;
    height: 70px;
    border-radius: 10px;
    background-color: #087800;
    color: #FFFFFF;
    position: relative;
    bottom: 75px;
}


/*******************************
          Thank You
*******************************/

#thank {
    
    margin: 50px;
    margin-bottom: 0;
}

#thank h2 {
    
    margin-left: 270px;
    font-size: 56px
}

#thank p {
    
    margin-left: 270px;
    margin-top: 50px;
    font-size: 32px
}

#thank img {
    
    float: right;
    width: 30%;
}

#thank input {

    text-align: center;
    width: 100%;
    height: 100px;
    border-radius: 50px;
    background-color: #087800;
    color: #FFFFFF;
    font-size: 24px;
    border: 10px solid;
    margin-top: 35px
}

/*******************************
            Footer
*******************************/

footer {
    
    background-color: #087800;
    width: 100%;
    color: rgb(255, 255, 255);
}

#footer {
    
    margin-top: 123px
}

.footer_info img, .footer_info p{
    
    display: inline-block;
    margin: 20px;
    vertical-align: middle;
}

.footer_info_visit {
    
    padding-bottom: 10px; 
}

#tlf_mail, #hour_adr, #social, #terms_faq {
    
    display: inline-block;
    margin-left: 250px;
    vertical-align: middle;
}

#social a {
    
    text-decoration: none;
    color: #fffafa
}

#hour_adr {
    
    margin-top: 10px
}

#hour_adr p, #hour_adr h4 {
    
    margin-top: 5px

}

#terms_faq {
    
    position: relative;
    bottom: 45px
}

